@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  background-color: #e8f4e3;
  
}

.profil{
    display: flex;
    grid-row: auto;
    grid-row: 2;
    width: 80%;
    justify-content: space-between;
    gap: 50px;
    margin-left: 300px;
    margin-bottom: 150px;
}

.profiltentang_1 {
    display: flex;
    flex-direction: row-reverse;
}

.profiltentang_1 img {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 300px;
}

.profiltentang_2 {
  display: flex;
  flex-direction: row;
  
}

.profiltentang_11 {
  display: flex;
  flex-direction: row;
}

.kataa1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kataa1 h2{
    padding-left: 15px;
    color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.kataa1 p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 300px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.kataa2 p{
  text-align: justify;
  padding-left: 100px;
  padding-right: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  
}

.kataa2 h2{
  padding-left: 15px;
  color: green;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.judultim h1{
  font-family: 'Poppins', sans-serif;

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
  }

  .maincard{
    width: 80%;
    height: 40vh;
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
  }

  .profile-card:hover{
    border-radius: 10px;
    height: 260px;
  }

  .profile-card .imgtim{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 40;
  }

  .imgtim img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }

  .profile-card:hover .imgtim{
    transform: translateY(-60px);
  }

  .profile-card:hover img{
    border-radius: 10px;
  }

  .caption{
     text-align: center;
     transform: translateY(-80px);
     opacity: 0;
     transition: .6s;
   }
   .profile-card:hover .caption{
     opacity: 1;
   }
   .caption h3{
     font-size: 21px;
     font-family: sans-serif;
   }
   .caption p{
     font-size: 15px;
     color: #0c52a1;
     font-family: sans-serif;
     margin: 2px 0 9px 0;
   }

   .judultim h1{
    font-size: 32px;
    margin-right: 100vh;
    margin-bottom: 15px;
   }

   .sejarah h1{
    font-size: 32px;
    margin-right: 83vh;
    margin-bottom: 15px;
    font-family: sans-serif;
   }

   .column2 button {
    background-color: rgb(21, 233, 14);
    display: block;
    border-radius: 20px;
    width: 120px;
    height: 40px;
  }

  .column2 button:hover {
    color: rgb(216, 228, 216); 
    background-color: rgb(47, 55, 47);
  }

  .row2{
    margin-bottom: 50px;
  }